body 
{
    background-color: #e8e8e8;
}

#field_table, #field_table td, #field_table th
{
    border: 1px solid black;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#field_table
{
    border-collapse: collapse;
    font-size: 10pt;
}

.field
{
    display: inline-table;
}

#field_table td, #field_table th
{
    width:15px;
    height:15px;
    text-align: center;
    cursor:pointer;
    border-bottom: 0px;
    border-right: 0px;
    background-size: contain;
    background-position: center;
}

.footer
{
    font-size: 8pt;
}

.adv
{
    text-align: center;
    font-size: 8pt;
    color: gray;
}

.h_pan_area, .v_pan_area
{
    background-color: #dedede;
}

.table
{
    display: table-cell;
}

.field_formula
{
    font-size: 18pt;
    text-align: center;
    margin-bottom: 20px;
}

.h_pan_area
{
    margin-left:  20px;
    margin-right: 20px;
    height: 20px;
    text-align: center;
}

.v_pan_area
{
    width: 20px;
    vertical-align: middle
}

.gadget_none
{
}

.gadget_sequencer
{
    background-color: #8df8f8;
}

.gadget_choice_wire
{
    background-color: #ffff59;
}

.gadget_displacer
{
    background-color: #fac140;
}

.gadget_auto_wire
{
    background-color: #f49b8b;  
}

.gadget_goal_wire
{
    background-color: #c7f54b;
}

.gadget_goal_gem
{
    background-color: #443952;
    font-weight: bolder;
    color: #ff0;
}

.colorbox
{
    width: 10px;
    height:10px;
    border: 1px solid black;
    display: inline-block;
    margin-right: 5px;
}

.social iframe 
{
    vertical-align: middle;
}

.social span 
{
    margin-right: 2px;
    margin-bottom: 4px;
    display: inline-block;
    vertical-align: middle;
}

.social
{
    font-size: 1px;
}


