body  {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	background-color: #fff;
}

.page_wrapper h3 { margin-bottom: 5px; }

.page_wrapper li { margin-bottom: 5px; }

.node { border: solid 1px; min-width: 4em; text-align: center; }
.node p { margin: 0px; }
.node_virtual { color: darkblue; background-color: lightgray; border-radius: 5px; }
.node_real { padding-left: 5px; padding-right: 5px; padding-top: 3px; padding-bottom: 3px; border-radius: 20px; }
.node_real .node-name { font-weight: bold; }
.node_next { background-color: pink; }        

.garden_wrapper { margin-right: 20px; vertical-align: bottom; }
.oracle_wrapper { vertical-align: bottom; }

.schedule { display: block; max-width: 815px; }


.tree { width: max-content; height: max-content; transform: scale(.7); transform-origin: top left;  }
