<!DOCTYPE html>
<html lang="en">
  <head>
    {% include style.html %}
    {% include title.html %}
    {% include custom_scripts.html %}
    {% include favicon.html %}
  </head>
  <body>
    <div class="wrapper">
      {% include header.html %}
      <div class="content">
        {{ content }}
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
