---
title: Solitaire Army
short_description: Visualization of solutions to the solitaire army problem for several different types of deserts. An interactive version of the game is playable. 
custom_css: style.css
---
    <div style="max-width: 1100px; margin: auto auto; padding: 20px; border-radius: 15px; background-color:#ffffff;">
	<h1 style="text-align: center;">Solitaire Army Problems</h1>
    <hr><br/>
        
	This page contains the solutions to the Solitaire Army Problem as described in the paper <a href="http://drops.dagstuhl.de/opus/volltexte/2016/5870/pdf/10.pdf">Large Peg-Army Maneuvers</a> published in the <a href="http://drops.dagstuhl.de/opus/portals/lipics/index.php?semnr=16004">Proceedings of the 8th International Conference on Fun with Algorithms (FUN 2016)</a>.

        <h2>The game of Peg Solitaire</h2>
        
<blockquote>
<p><i>
Not so very long ago there became widespread an excellent kind of game, called Solitaire,
where I play on my own, but as if with a friend as witness and referee to see that I play
correctly. A board is filled with stones set in holes, which are to be removed in turn, but none
(except the first, which may be chosen for removal at will) can be removed unless you are
able to jump another stone across it into an adjacent empty place, when it is captured as in
Draughts. He who removes all the stones right to the end according to this rule, wins; but
he who is compelled to leave more than one stone still on the board, yields the palm. This
game can more elegantly be played backwards, after one stone has been put at will on an
empty board, by placing the rest with it, but the same rule being observed for the addition of
stones as was stated just above for their removal. Thus we can either fill the board, or, what
would be more clever, shape a predetermined figure from the stones; perhaps a triangle, a
quadrilateral, an octagon, or some other, if this be possible; but such a task is by no means
always possible: and this itself would be a valuable art, to foresee what can be achieved; and
to have some way, particularly geometrical, of determining this.
</i></p>
<footer>
— Gottfried Wilhelm Leibniz<br/>
<small>
<a href="Miscellanea Berolinensia.png">Original Latin text</a> in <cite>Miscellanea Berolinensia 1, 1710, p. 24</cite>.<br/>
The given translation is from <cite>J. D. Beasley. The Ins and Outs of Peg Solitaire. Oxford University Press, 1985.</cite>
</small>
</footer>
</blockquote>

        <h2>The Solitaire Army Problem</h2>

        In the Solitaire Army Problem, given a  region of an infinite board
        called <i>desert</i> and a target position inside it, one is asked to
        find an initial configuration of pegs outside that region, and a finite
        sequence of moves that allows some peg to be placed in the given target
        position.

        <h2>Play the game</h2>

	Here you can play the game on different deserts. In the reverse problem the goal is to remove all the pegs from the desert. In the forward problem you start with a configurations of pegs and your goal is to bring a peg to the center of the desert.

	<table>
	<tr><th>Desert</th><th>Play</th></tr>
	<tr><td>Square 7x7 (easy)</td><td><a href="forward.html?field=3">Forward</a> <a href="reverse.html?field=3">Reverse</a></td></tr>
	<tr><td>Square 9x9</td><td><a href="forward.html?field=2">Forward</a> <a href="reverse.html?field=2">Reverse</a></td></tr>
	<tr><td>Square 11x11</td><td><a href="forward.html?field=1">Forward</a> <a href="reverse.html?field=1">Reverse</a></td></tr>
	<tr><td>Rhombus 11x11 (easy)</td><td><a href="forward.html?field=6">Forward</a> <a href="reverse.html?field=6">Reverse</a></td></tr>
	<tr><td>Rhombus 13x13</td><td><a href="forward.html?field=5">Forward</a> <a href="reverse.html?field=5">Reverse</a></td></tr>
	<tr><td>Rhombus 15x15</td><td><a href="forward.html?field=4">Forward</a> <a href="reverse.html?field=4">Reverse</a></td></tr>
	</table>

        <h2>Our solutions</h2>

	<table>
	<tr><th>Desert</th><th>Goal</th><th>Number of moves</th><th>Solution</th></tr>
	<tr><td>Square 7x7</td><td>Center of the desert</td><td>15</td><td><a href="7x7/forward.gif">Forward</a> <a href="7x7/backward.gif">Reverse</a> <a href="7x7/moves.txt">Moves</a></td></tr>
	<tr><td>Square 9x9</td><td>Center of the desert</td><td>39</td><td><a href="9x9/forward.gif">Forward</a> <a href="9x9/backward.gif">Reverse</a> <a href="9x9/moves.txt">Moves</a></td></tr>
	<tr><td>Square 11x11</td><td>Center of the desert</td><td>246</td><td>Included in the paper</td></tr>
	<tr><td>Square 11x11 (alternate)</td><td>Center of the desert</td><td>212</td><td><a href="11x11/forward.gif">Forward</a> <a href="11x11/backward.gif">Reverse</a> <a href="11x11/moves.txt">Moves</a></td></tr>
	<tr><td>Square 12x12</td><td>One of the four centers of the desert</td><td>301</td><td><a href="12x12/forward.gif">Forward</a> <a href="12x12/backward.gif">Reverse</a> <a href="12x12/moves.txt">Moves</a></td></tr>
	<tr><td>Square 11x11 at the border of the board, when the board is a half-plane</td><td>Center of the desert</td><td>246</td><td><a href="11x11_3_sides/forward.gif">Forward</a> <a href="11x11_3_sides/backward.gif">Reverse</a> <a href="11x11_3_sides/moves.txt">Moves</a></td></tr>
	<tr><td>Square 11x11, when the board is the union of three half-planes tangent to the desert</td><td>Center of the desert</td><td>241</td><td><a href="11x11_3_planes/forward.gif">Forward</a> <a href="11x11_3_planes/backward.gif">Reverse</a> <a href="11x11_3_planes/moves.txt">Moves</a></td></tr>
	<tr><td>Rhombus 13x13 (i.e. with axes of length 13)</td><td>Center of the desert</td><td>58</td><td><a href="13x13_skew/forward.gif">Forward</a> <a href="13x13_skew/backward.gif">Reverse</a> <a href="13x13_skew/moves.txt">Moves</a></td></tr>
	<tr><td>Rhombus 15x15 (i.e. with axes of length 15)</td><td>Center of the desert</td><td>176</td><td><a href="15x15_skew/forward.gif">Forward</a> <a href="15x15_skew/backward.gif">Reverse</a> <a href="15x15_skew/moves.txt">Moves</a></td></tr>
	<tr><td>Rhombus 15x15 at the border of the board, when the board is a diagonal half-plane</td><td>Center of the desert</td><td>202</td><td><a href="15x15_skew_3_sides/forward.gif">Forward</a> <a href="15x15_skew_3_sides/backward.gif">Reverse</a> <a href="15x15_skew_3_sides/moves.txt">Moves</a></td></tr>
	<tr><td>Rhombus 15x15, when the board is the union of three half-planes tangent to the desert</td><td>Center of the desert</td><td>183</td><td><a href="15x15_skew_3_planes/forward.gif">Forward</a> <a href="15x15_skew_3_planes/backward.gif">Reverse</a> <a href="15x15_skew_3_planes/moves.txt">Moves</a></td></tr>
	</table>


        <h2>About the authors</h2>
        We are an Italian group of four people: <a href="http://www.mat.uniroma2.it/~guala/">Luciano Gualà</a>, <a href="https://www.stefanoleucci.com">Stefano Leucci</a>, <a href="http://emanuelenatale.isnphard.com">Emanuele Natale</a>, and <a href="http://www.mat.uniroma2.it/~tauraso/">Roberto Tauraso</a>.

</div>
